<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New order.</h1>
    <p>
      Name:  <%= @order.name %>
    </p>
    <p>
      Phone:  <%= @order.phone %>
    </p>
    <p>
      Comment:  <%= @order.text %>
    </p>
    <p>
      Time:  <%= Time.now %>
    </p>
  </body>
</html>
