<div class="infolabel"><span class="label label-info"> Наши контакты </span></div>

<ul class="list-group contacts-list">
  <li class="list-group-item contacts-item">Телефон: <strong>+7 (915) 470-70-20</strong></li>
  <li class="list-group-item contacts-item">E-mail: <strong>alzater@mail.ru</strong></li>
  <li class="list-group-item contacts-item">E-mail: <strong>alzatermail@gmail.com</strong></li>
  <li class="list-group-item contacts-item">Вконтакте: <strong><%=link_to "vk.com/alzater", "//vk.com/alzater" %> </strong></li>
</ul>
