<h2>Сайт под ключ разработал <strong>Alzater</strong>(Денис).
<br>
<br>
<br> Контакты для связи:
</h2>
<h3> Почта: alzater@mail.ru </h3>
<h3> Вконтакте: <%=link_to "alzater", "//vk.com/alzater" %></h3>
