<h1> Хотите продать свой Iphone? Мы купим его по лучшей цене!!! </h1>

<h2>Мы платим до <strong>80 %</strong> от стоимости аппарата.</h2>

<h1>Наши плюсы</h1>

<div class="plus">
	<h3>Удобно</h3>
	<p>Наш эксперт выедет к вам в любое время( не важно будут ли это праздники, будни или выходные).</p>
</div>
<div class="plus">
	<h3>Быстро</h3>
	<p>Эксперт проверить при вас Iphone и назавет сумму вашего вознаграждения.</p>
</div>
<div class="plus">
	<h3>Гибкая система выплат</h3>
	<p>Нам важен именно Iphone, но наличее гарантии, упаковки и аксессуаров увеличит ваше вознаграждение.</p>
</div>
<div class="plus">
	<h3>Гарантированная покупка</h3>
	<p>Вне зависимости от состояния мы приобретем ваш Iphone.</p>
</div>
<div class="plus">
	<h3>Покупаем любые модели</h3>
	<p>Мы купим у вас все: начиная от старого доброго Iphone 3 и
		заканчивая самыми последними Iphone 6 и Iphone 6 plus.</p>
</div>
