<div class="infolabel"><span class="label label-info"> Хотите продать свой Iphone? Мы купим его по лучшей цене!!! </span></div>
<div class="infolabel">
	<span class="label label-info">
		Мы платим до <strong class="label label-warning p80">80 %</strong> от стоимости нового телефона. 
	</span>
	<button class="btn-lg btn-warning gold orderbtn" onclick="show_order_form();">
		<strong>Оставить заявку</strong>
	</button>
</div>

<div class="container-fluid imagescontainer">
	<div class="row imagerow">
		<div class="col-md-2 col-md-offset-1">
			<img src="/images/iphones/6p.jpg" class="iphoneimg img-responsive" alt="Iphone, который мы принимаем" />
		</div>
		<div class="col-md-2">
			<img src="/images/iphones/6.jpg" class="iphoneimg img-responsive" alt="Iphone, который мы принимаем" />
		</div>
		<div class="col-md-2">
			<img src="/images/iphones/5s.jpg" class="iphoneimg img-responsive" alt="Iphone, который мы принимаем" />
		</div>
		<div class="col-md-2">
			<img src="/images/iphones/5c.jpg" class="iphoneimg img-responsive" alt="Iphone, который мы принимаем" />
		</div>
		<div class="col-md-2">
			<img src="/images/iphones/5.jpg" class="iphoneimg img-responsive" alt="Iphone, который мы принимаем" />
		</div>	
	</div>
	<div class="row imagerow">
		<div class="col-md-2  col-md-offset-1">
			Iphone 6 Plus
		</div>
		<div class="col-md-2">
			Iphone 6
		</div>
		<div class="col-md-2">
			Iphone 5S
		</div>
		<div class="col-md-2">
			Iphone 5C
		</div>
		<div class="col-md-2">
			Iphone 5
		</div>
	</div>
	<div class="row imagerow">
		&nbsp;
	</div>
	<div class="row imagerow">
		<div class="col-md-2  col-md-offset-1">
			<img src="/images/iphones/1.jpg" class="iphoneimg img-responsive" alt="Iphone, который мы принимаем" />
		</div>
		<div class="col-md-2">
			<img src="/images/iphones/3g.jpg" class="iphoneimg img-responsive" alt="Iphone, который мы принимаем" />
		</div>
		<div class="col-md-2">
			<img src="/images/iphones/3g.jpg" class="iphoneimg img-responsive" alt="Iphone, который мы принимаем" />
		</div>
		<div class="col-md-2">
			<img src="/images/iphones/4.jpg" class="iphoneimg img-responsive" alt="Iphone, который мы принимаем" />
		</div>
		<div class="col-md-2">
			<img src="/images/iphones/4.jpg" class="iphoneimg img-responsive" alt="Iphone, который мы принимаем" />
		</div>	
	</div>
	<div class="row imagerow">
		<div class="col-md-2  col-md-offset-1">
			Iphone
		</div>
		<div class="col-md-2">
			Iphone 3G
		</div>
		<div class="col-md-2">
			Iphone 3GS
		</div>
		<div class="col-md-2">
			Iphone 4
		</div>
		<div class="col-md-2">
			Iphone 4S
		</div>
	</div>
</div>



<div class="infolabel"><span class="label label-success"> Наши плюсы </span></div>

<div class="container-fluid well">
	<div class="col-md-1">
		<img src="/images/plus.png" width="100px" height="100px" alt=Плюс">
	</div>
	<div class="col-md-11">
		<div class="plusmin">
			<h3 class="plusminhead">Удобно</h3>
			<p class="plusmintext">Наш эксперт выедет к вам в любое время (не важно будут ли это праздники, будни или выходные).</p>
		</div>
	</div>
</div>
<div class="container-fluid well">
	<div class="col-md-1">
		<img src="/images/plus.png" width="100px" height="100px" alt=Плюс">
	</div>
	<div class="col-md-11">
		<div class="plusmin">
			<h3 class="plusminhead">Быстро</h3>
			<p class="plusmintext">Эксперт проверить при вас Iphone и назавет сумму вашего вознаграждения.</p>
		</div>
	</div>
</div>
<div class="container-fluid well">
	<div class="col-md-1">
		<img src="/images/plus.png" width="100px" height="100px" alt=Плюс">
	</div>
	<div class="col-md-11">
		<div class="plusmin">
			<h3 class="plusminhead">Гибкая система выплат</h3>
			<p class="plusmintext">Нам важен именно Iphone, но наличее гарантии, упаковки и аксессуаров увеличит ваше вознаграждение.</p>
		</div>
	</div>
</div>
<div class="container-fluid well">
	<div class="col-md-1">
		<img src="/images/plus.png" width="100px" height="100px" alt=Плюс">
	</div>
	<div class="col-md-11">
		<div class="plusmin">
			<h3 class="plusminhead">Гарантированная покупка</h3>
			<p class="plusmintext">Вне зависимости от состояния мы приобретем ваш Iphone.</p>
		</div>
	</div>
</div>
<div class="container-fluid well">
	<div class="col-md-1">
		<img src="/images/plus.png" width="100px" height="100px" alt=Плюс">
	</div>
	<div class="col-md-11">
		<div class="plusmin">
			<h3 class="plusminhead">Покупаем любые модели</h3>
			<p class="plusmintext">Мы купим у вас все: начиная от старого доброго Iphone 3 и
				заканчивая самыми последними Iphone 6 и Iphone 6 plus.</p>
		</div>
	</div>
</div>
	
<div class="infolabel"><span class="label label-danger"> Наши минусы </span></div>
<div class="container-fluid well">
	<div class="col-md-1">
		<img src="/images/minus.png" width="100px" height="100px" alt=Минус">
	</div>
	<div class="col-md-11">
		<div class="plusmin">
			<h3 class="plusminhead">Только IPhone</h3>
			<p class="plusmintext">Мы покупаем только Iphone. Если вы можете нам предложить смартфоны других фирм - 
			мы вынужденны вам отказать.</p>
		</div>
	</div>
</div>

<div class="row">&nbsp;</div>

<div class="infolabel">
	<span class="label label-info">
		Готовы продать нам свой Iphone? Звоните: <strong class="label label-warning p80">+7 (915) 470-70-20</strong> 
	</span>
	<span class="label label-info">
		Или закажите обратный звонок: 
	</span>
	<button class="btn-lg btn-warning gold orderbtn" onclick="show_order_form();">
		<strong>Заказать обратный звонок</strong>
	</button>
</div>

