<div class="infolabel"><span class="label label-info"> Хотите продать свой Iphone? Мы купим его по лучшей цене!!! </span></div>
<div class="infolabel"><span class="label label-info"> Мы платим до <strong class="label label-warning">80 %</strong> от стоимости нового телефона. </span></div>

<div class="infolabel"><span class="label label-success"> Наши плюсы </span></div>

<div class="container-fluid well">
	<div class="col-md-1">
		<img src="/images/plus.png" width="100px" height="100px" alt=Плюс">
	</div>
	<div class="col-md-11">
		<div class="plusmin">
			<h3 class="plusminhead">Удобно</h3>
			<p class="plusmintext">Наш эксперт выедет к вам в любое время (не важно будут ли это праздники, будни или выходные).</p>
		</div>
	</div>
</div>
<div class="container-fluid well">
	<div class="col-md-1">
		<img src="/images/plus.png" width="100px" height="100px" alt=Плюс">
	</div>
	<div class="col-md-11">
		<div class="plusmin">
			<h3 class="plusminhead">Быстро</h3>
			<p class="plusmintext">Эксперт проверить при вас Iphone и назавет сумму вашего вознаграждения.</p>
		</div>
	</div>
</div>
<div class="container-fluid well">
	<div class="col-md-1">
		<img src="/images/plus.png" width="100px" height="100px" alt=Плюс">
	</div>
	<div class="col-md-11">
		<div class="plusmin">
			<h3 class="plusminhead">Гибкая система выплат</h3>
			<p class="plusmintext">Нам важен именно Iphone, но наличее гарантии, упаковки и аксессуаров увеличит ваше вознаграждение.</p>
		</div>
	</div>
</div>
<div class="container-fluid well">
	<div class="col-md-1">
		<img src="/images/plus.png" width="100px" height="100px" alt=Плюс">
	</div>
	<div class="col-md-11">
		<div class="plusmin">
			<h3 class="plusminhead">Гарантированная покупка</h3>
			<p class="plusmintext">Вне зависимости от состояния мы приобретем ваш Iphone.</p>
		</div>
	</div>
</div>
<div class="container-fluid well">
	<div class="col-md-1">
		<img src="/images/plus.png" width="100px" height="100px" alt=Плюс">
	</div>
	<div class="col-md-11">
		<div class="plusmin">
			<h3 class="plusminhead">Покупаем любые модели</h3>
			<p class="plusmintext">Мы купим у вас все: начиная от старого доброго Iphone 3 и
				заканчивая самыми последними Iphone 6 и Iphone 6 plus.</p>
		</div>
	</div>
</div>

<h1>Наши минусы</h1>
<div class="container-fluid well">
	<div class="col-md-1">
		<img src="/images/minus.png" width="100px" height="100px" alt=Минус">
	</div>
	<div class="col-md-11">
		<div class="plusmin">
			<h3 class="plusminhead">Только IPhone</h3>
			<p class="plusmintext">Мы покупаем только Iphone. Если вы можете нам предложить смартфоны других фирм - 
			мы вынужденны вам отказать.</p>
		</div>
	</div>
</div>
