/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require jquery.remodal
 *= require jquery.fancybox
 *= require bootstrap.min
 *= require static
 *= require_self
 */

.wraper{
	min-width:1200px;
	max-width:1500px;
}
 
#header{
	width:100%;
	height:99px;
}
#left-header{
  position:absolute;
  left:0;
	width:184px;
	height:101px;
	background: url(/images/topleft.png);
}
#right-header{
  position:absolute;
  right:0;
	width:139px;
	height:101px;
	background: url(/images/topright.png);
}
#mid-header{
  position:absolute;
  right:139px;
  left:184px;
	height:101px;
	background: url(/images/topmid.png) repeat;
}

#mid{
	width:100%;
}

#left-mid{
  width:13px;
	background: url(/images/midleft.png) repeat;
}

#content{
  background-color:#f3f0f8;
  padding:5px 15px 5px 15px;
}

#right-mid{
  width:11px;
	background: url(/images/midright.png) repeat;
}
	
#footer{
	width:100%;
  height:93px;
}
#left-footer{
  position:absolute;
  left:0;
	width:81px;
  height:97px;
	background: url(/images/botleft.png);
}
#right-footer{
  position:absolute;
  right:0;
	width:107px;
  height:97px;
	background: url(/images/botright.png);
}
#mid-footer{
  position:absolute;
	text-align:center;
  right:107px;
  left:81px;
  height:97px;
	background: url(/images/botmid.png) repeat;
}

#apple{
  position:absolute;
	text-align:center;
  top:150px;
  width:100%;
  display:none;
}

body{
	background-color:#B0B0B0;
	padding:0;
	margin:0;
	border:0;
	width:100%;
	height:100%;
}
.menu{
	width:100%;
}

.menuitem{
}

.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}

 
 .top-menu-item{
	padding: 18px 20px 5px 10px;
	float:left;
}

 .top-menu-order{
	padding: 33px 5px 5px 15px;
	float:left;
}

#top-phone{
	font-size:34px;
	color:gold;
	font-weight:700;
	position:absolute;
	top:35px;
	right:-70px;
}

.gold{
	background-color:gold;
}

	
